<a href="https://colab.research.google.com/github/Phoenixxxtv/Phoenixxxtv.github.io/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd #import Pandas with alias pd
series1 = pd.Series([10,20,30]) #create a Series
print(series1) #Display the series

0    10
1    20
2    30
dtype: int64

In [5]:
series2 = pd.Series(["Kavi","Shyam","Ravi"],
index=[3,5,1])
print(series2) #Display the series

3     Kavi
5    Shyam
1     Ravi
dtype: object

In [8]:
series2 = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
print(series2) #Display the series

Feb    2
Mar    3
Apr    4
dtype: int64

In [12]:
series3 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12], index=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"])
print(series3)

Jan      1
Feb      2
Mar      3
Apr      4
May      5
Jun      6
Jul      7
Aug      8
Sept     9
Oct     10
Nov     11
Dec     12
dtype: int64

In [14]:
series3["Jan"]

np.int64(1)

In [17]:
import numpy as np # import NumPy with alias np
import pandas as pd
array1 = np.array([1,2,3,4])
series3 = pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
series4 = pd.Series(array1, index = ["Jan","Feb", "Mar", "Apr"])
print(series4)

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int64

In [22]:
dict1 = {'India': 'NewDelhi', 'UK':'London', 'Japan': 'Tokyo'}
print(dict1) #Display the dictionary
{'India': 'NewDelhi', 'UK': 'London', 'Japan':
'Tokyo'}
series8 = pd.Series(dict1)
print(series8) #Display the series

{'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
India    NewDelhi
UK         London
Japan       Tokyo
dtype: object