<a href="https://colab.research.google.com/github/Phoenixxxtv/Phoenixxxtv.github.io/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #import Pandas with alias pd
series1 = pd.Series([10,20,30]) #create a Series
print(series1) #Display the series

0    10
1    20
2    30
dtype: int64

In [ ]:
series2 = pd.Series(["Kavi","Shyam","Ravi"],
index=[3,5,1])
print(series2) #Display the series

3     Kavi
5    Shyam
1     Ravi
dtype: object

In [ ]:
series2 = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
print(series2) #Display the series

Feb    2
Mar    3
Apr    4
dtype: int64

In [ ]:
series3 = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12], index=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"])
print(series3)

Jan      1
Feb      2
Mar      3
Apr      4
May      5
Jun      6
Jul      7
Aug      8
Sept     9
Oct     10
Nov     11
Dec     12
dtype: int64

In [ ]:
series3["Jan"]

np.int64(1)

In [ ]:
import numpy as np # import NumPy with alias np
import pandas as pd
array1 = np.array([1,2,3,4])
series3 = pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
series4 = pd.Series(array1, index = ["Jan","Feb", "Mar", "Apr"])
print(series4)

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int64

In [ ]:
dict1 = {'India': 'NewDelhi', 'UK':'London', 'Japan': 'Tokyo'}
print(dict1) #Display the dictionary
{'India': 'NewDelhi', 'UK': 'London', 'Japan':
'Tokyo'}
series8 = pd.Series(dict1)
print(series8) #Display the series

{'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [24]:
seriesNum = pd.Series([10,20,30])
seriesNum[2]

np.int64(30)

In [26]:
seriesMnths = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
seriesMnths["Mar"]

np.int64(3)

In [36]:
seriesCapCntry = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],
index=['India', 'USA', 'UK', 'France'])
seriesCapCntry['India']

'NewDelhi'

In [38]:
seriesCapCntry[1]

/tmp/ipython-input-3676189266.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  seriesCapCntry[1]

'WashingtonDC'

In [39]:
seriesCapCntry[[3,2]]

/tmp/ipython-input-1704503957.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  seriesCapCntry[[3,2]]

France     Paris
UK        London
dtype: object