<a href="https://colab.research.google.com/github/lakshman-reddy-sudo/Phoenixxx-Tv/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
marksTable = {'Name':['Lakshman Ry','Aditya','Shashi','My son'],'C':[99,98,97,96],'LinerAlgebra':[91,90,90,89],'Py':[87,89,90,91],'HTML':['F','F','F','F']}
temp = pd.DataFrame(marksTable)
temp

          Name   C  LinerAlgebra  Py HTML
0  Lakshman Ry  99            91  87    F
1       Aditya  98            90  89    F
2       Shashi  97            90  90    F
3       My son  96            89  91    F

In [3]:
temp.max()

Name            Shashi
C                   99
LinerAlgebra        91
Py                  91
HTML                 F
dtype: object

In [4]:
temp.max(numeric_only=True)

C               99
LinerAlgebra    91
Py              91
dtype: int64