<a href="https://colab.research.google.com/github/lakshman-reddy-sudo/Phoenixxx-Tv/blob/main/workingOnFileData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
studentdata = np.loadtxt('/content/Marks.txt', skiprows=1, delimiter=',',
dtype = float)
studentdata

array([[ 1., 36., 18., 57.],
       [ 2., 22., 23., 45.],
       [ 3., 43., 51., 37.],
       [ 4., 41., 40., 60.],
       [ 5., 13., 18., 37.]])

In [20]:
dataarray = np.genfromtxt('marksMissing.txt',skip_header=1,
delimiter = ',')
dataarray

array([[ 1., 36., 18., 57.],
       [ 2., nan, 23., 45.],
       [ 3., 43., 51., nan],
       [ 4., 41., 40., 60.],
       [ 5., 13., 18., 27.]])